
@using JIC.Crime.View.Models
@model RollOrderViewModel
 @if (ViewData["SessionEnded"] != null && (bool)ViewData["SessionEnded"])
 {
    <script>
        debugger;
        window.location.href = "/User/Login?returnUrl=/";
    </script>
 }

    @Html.AntiForgeryToken()

    @(Html
        .Grid(Model.ListRollToOrder.AsEnumerable())
        .Build(columns =>
        {
            columns.Add(model => new MvcHtmlString("<i class='fa fa-bars fa-lg' aria-hidden='true'></i>").ToString() + Html.Hidden("CaseID", model.CaseID) + Html.Hidden("OrderID", model.Order)).Encoded(false);
            columns.Add(model => model.Order).Titled(JIC.Base.Resources.Resources.number);
            columns.Add(model => model.OverAllNumber).Titled(JIC.Base.Resources.Resources.OverAllNumber);
            columns.Add(model => model.SecondLevelNumber).Titled(JIC.Base.Resources.Resources.SecondLevelNumber);
            columns.Add(model => model.FirstLevelNumber).Titled(JIC.Base.Resources.Resources.FirstLevelNumber);
            columns.Add(model => model.CaseStatus).Titled(JIC.Base.Resources.Resources.CaseStatus);
            columns.Add(model => model.MainCrime).Titled(JIC.Base.Resources.Resources.MainCrime);
            columns.Add(model => Html.DropDownList("SecretaryID", model.UserSecritary, "إختار....", new { @class = "form-control" }).ToString()+ new MvcHtmlString("<span class='hidden' id='AfterSP' style='color: red'>هذا الحقل مطلوب</span>").ToString()).Encoded(false).Titled(JIC.Base.Resources.Resources.SecritaryTo);
        })
                    .Sortable()
                    .RowCss(row => "RollAfterOrderRow")
                    .Css("table-sortable"))
