@using JIC.Crime.View.Models
@model RollOrderViewModel
@if (ViewData["SessionEnded"] != null && (bool)ViewData["SessionEnded"])
{
    <script>
        debugger;
        window.location.href = "/User/Login?returnUrl=/";
    </script>
}
@(Html
    .Grid(Model.ListRollBeforeOrder.AsEnumerable())

    .Build(columns =>
    {
        columns.Add(model => Html.CheckBox("OrderChecked", model.ChechOrder).ToString() + Html.Hidden("CaseID", model.CaseID) + Html.Hidden("OrderID", model.Order)).Encoded(false).Titled(Html.CheckBox("CheckAll"));
        columns.Add(model => model.Order).Titled(JIC.Base.Resources.Resources.number);
        columns.Add(model => model.OverAllNumber).Titled(JIC.Base.Resources.Resources.OverAllNumber);
        columns.Add(model => model.SecondLevelNumber).Titled(JIC.Base.Resources.Resources.SecondLevelNumber);
        columns.Add(model => model.FirstLevelNumber).Titled(JIC.Base.Resources.Resources.FirstLevelNumber);
        columns.Add(model => model.CaseStatus).Titled(JIC.Base.Resources.Resources.CaseStatus);
        columns.Add(model => model.MainCrime).Titled(JIC.Base.Resources.Resources.MainCrime);
        columns.Add(model => Html.DropDownList("SecretaryID", model.UserSecritary, "إختار....", new { @class = "form-control" }).ToString() + new MvcHtmlString("<span class='hidden' id='BeforeSP' style='color: red'>هذا الحقل مطلوب</span>").ToString()).Encoded(false).Titled(JIC.Base.Resources.Resources.SecritaryTo);
    })

   .Sortable()

    .Filterable()
    .RowCss(row =>"RollBeforeOrder")
   )
<span style="color:red"></span>

