
@using JIC.Crime.View.Models;

@model int?


<div class="row">
    <div class="col-xs-3">

        @Html.Partial("PVCaseStep", new CaseViewModel { CaseID = Model.Value, caseStatus = JIC.Base.CaseStatus.CaseParties })
    </div>
    <div class="col-xs-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                خصوم القضية
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <input type="button" value="@JIC.Base.Resources.Resources.SaveOrder" onclick="GetObjectViewModelorder()" class="btn-default" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateCaseParties">@JIC.Base.Resources.Resources.AddCaseParty</button>
                        </div>
                    </div>
                </div>
                @using (Html.CUpdatePanel(Url.Action("EditCaseParties", new { CaseID = Model.Value }), "CaseParties_ID"))
                {
                    Html.RenderAction("EditCaseParties", new { CaseID = Model.Value });
                }
            </div>
        </div>
    </div>
</div>

@using (Html.BeginModel("CreateCaseParties", "إضافة خصم جديد"))
{
    using (Html.CUpdatePanel(Url.Action("Create", new { CaseID = Model.Value }), "CreateCasePartiesUpdatePanel"))
    {
        Html.RenderAction("Create", new { CaseID = Model.Value });
    }
}


<script>

    function GetObjectViewModelorder() {
        debugger;
                var ObjectAfter = [];
               $(".Defendent").each(function () {
           ObjectAfter.push({
                DefectID: $(this).find("#DefectID").val(),
                OrderID: $(this).find("#OrderID").val(),
                DefectType: $(this).find("#DefectType").val(),

            });
        });
                $(".Victims").each(function () {
            ObjectAfter.push({
                DefectID: $(this).find("#DefectID").val(),
                OrderID: $(this).find("#OrderID").val(),
                DefectType: $(this).find("#DefectType").val(),

            });
        });
        $.ajaxSetup({ traditional: false });
        var SubmitObjectAfter = { attendance: ObjectAfter, __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val() };

        $.post("@Html.Raw(Url.Action("Index", new { CaseID=Model.Value}))", SubmitObjectAfter)
            .done(function (data) {
                $("#Indexdiv").html(data);
                });
    };

    function HideModelAndUpdate(selector) {
        $(selector).modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $("#CaseParties_ID").trigger('update');
    }
    OnDocReady(function () {

        $(".table-sortable-Defendant").sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder" />',
            onDrop: function ($item, container, _super, event) {
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);
                ChangeOrder1();
            }
        });

        $(".table-sortable-Victim").sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder" />',
            onDrop: function ($item, container, _super, event) {
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);
                ChangeOrder2();
          }
        });
        function ChangeOrder1() {
            var Count = 1;
            $(".Defendent").each(function () {
              //  $(this).find("td:eq(1)").text(Count),
                $(this).find("#OrderID").val(Count);
                $(this).find('td:eq(1)').text(Count);
                Count++;
            });
        };
        function ChangeOrder2() {
            var Count = 1;
            $(".Victims").each(function () {
               // $(this).find("td:eq(1)").text(Count),
                $(this).find("#OrderID").val(Count);
                $(this).find('td:eq(1)').text(Count);
                Count++;
            });
        };

        $(document).on('Parties:SavedSuccefull', function () {
            HideModelAndUpdate("#CreateCaseParties");
        });
        $(document).on('Parties:DeleteSuccefull', function () {
            HideModelAndUpdate("#DeleteCasePartyDiv");
        });
        $(document).on('Parties:UpdateSuccefull', function () {
            HideModelAndUpdate("#EditCasePartyDiv");
        });
        $("#CreateCaseParties").on('hidden.bs.modal', function (event) {
            event.stopPropagation();
            $("#CreateCasePartiesUpdatePanel").trigger('update');
        });
    });
</script>