
<div id="calendar"></div>

<script>
    @*//$(document).ready(function () {
        var WeekEnds = document.getElementById("WED").className;
        var dates = GetVacDates();
        var FD, TD;

        $('#calendar').datepicker({
          
            weekStart: 6,
            daysOfWeekHighlighted: WeekEnds,
            beforeShowDay: function (date) {
             
                for (var i = 0; i < dates.length; i++) {
                    FD =  new Date(dates[i].FromDate.match(/\d+/)[0] * 1);
                    TD = new Date(dates[i].EndDate.match(/\d+/)[0] * 1);
                    if (date >= FD && date <= TD)
                    {
                        return {
                                tooltip: dates[i].Name,
                                classes: 'active'

                            };
                    }
                }
            
            }
            
        }).on("changeDate", function (e) {
          //  alert(e.date);
        });
  

        function GetVacDates() {
            var dataobj;

            $.ajaxSetup({
                async: false
            });
            $.ajax({
                type: 'GET',
                url: '/Vacations/GetListOfVacations',
                success: function (data) {
                    dataobj = data;
                }
            });

            return dataobj;

        }




       // $.get('/Vacations/GetListOfVacations', null, function (data) {
           // return data;
            //$.each(data, function (i, dl) {
            //    alert(dl.Name);
            //});
      //  });


       @*$.ajax({
    url: '@Url.Action("GetListOfVacations")',
    type: 'Get',
    async: false,
    dataType: 'json',
    contentType: 'application/json; charset=utf-8',
    error: function () {
        alert("Server access failure!");
    },
    success: function (result) {
        return result;
    }
        });*@

       
  
</script>
    

