
@using JIC.Crime.View.Models
@model ApproveSessionsViewModel
<div id="CaseSessionApprove">
    @using (Ajax.BeginForm("Approve", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "CaseSessionApprove" }))
    {
  
        <input type="hidden" id="XSessionID" value="@Model.SessionID" />
      
        <div class="row">
            <h3>هل انت متأكد من إعادة المحضر الى امين السر ؟</h3>
        </div>
        <div class="row">
            <input class="btn btn-primary" type="button" value="@JIC.Base.Resources.Resources.ReturnToSecretary  " onclick="Return_Onclick()" />
        </div>
    }
</div>

<script type="text/javascript">
    function Return_Onclick() {
      //  debugger;
        var model = new Object();
        //$('#CaseSessionApprove').find('from').first().serializeArray().map(function (x) { Model[x.name] = x.value; });

        model.SessionID = $("#XSessionID").val();
     
        $.ajaxSetup({ traditional: false });
        var SubmitObject = { __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(), model: model };
        $.post("@Html.Raw(Url.Action("ReturnToSecretary","ApproveByJudge"))", SubmitObject)
            .done(function (data) {
                //alert(data);
                 //$(document).trigger('SuccessMessage', data);
                 //$('#Confirm').modal('hide');
                 //$('#approveformdiv').trigger('update');

                // $("#CasesDivv").load();
            });

    }
</script>
