@using JIC.Crime.View.Models
@model  MinutesOfSessionCreateViewModel
@{

    Layout = null;
}

<div id="Indexdiv">
    @Html.Partial("_AttendanceForm", Model)
</div>


<script>


    function GetObjectViewModel() {
        debugger;
                var ObjectAfter = [];
                var NotSubmit = true;

                var countColum = ($(".Defendent").length) / 2;
                var count = 0;
                $(".Defendent").each(function () {
                    var AttendenceValue = $(this).find('#AttendenceType').val();
                    var ChooseValue = $(this).find("#AttendenceType option:eq(0)").val();
                    count++;
                        if (AttendenceValue == ChooseValue && countColum >= count) {
                        $(this).find("#Defendent").removeClass("hidden");
                        $(this).find("#Defendent").addClass("show");
                        NotSubmit = false;
                        
                    }
                    else {
                        $(this).find("#Defendent").removeClass("show");
                        $(this).find("#Defendent").addClass("hidden");
                    };
                    if (countColum >= count) {
                        ObjectAfter.push({
                            DefectID: $(this).find("#DefectID").val(),
                            Presence: $(this).find("#AttendenceType").val(),
                            DefectType: $(this).find("#DefectType").val(),
                        });
                    }
        });
                $(".Victims").each(function () {
                    var AttendenceValue = $(this).find('#AttendenceType').val();
                    var ChooseValue = $(this).find("#AttendenceType option:eq(0)").val();
                    if (AttendenceValue == ChooseValue) {
                        $(this).find("#Victims").removeClass("hidden");
                        $(this).find("#Victims").addClass("show");
                        NotSubmit = false;
                    } else {
                        $(this).find("#Victims").removeClass("show");
                        $(this).find("#Victims").addClass("hidden");
                    };
            ObjectAfter.push({
                DefectID: $(this).find("#DefectID").val(),
                Presence: $(this).find("#AttendenceType").val(),
               DefectType: $(this).find("#DefectType").val(),
            });
        });
        $.ajaxSetup({ traditional: false });
        var SubmitObjectAfter = { attendance: ObjectAfter, __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val() };

        if (NotSubmit) {
        $.post("@Html.Raw(Url.Action("Index", new { SessionID = Model.MinutesOfSession.SessionID,CaseID=Model.MinutesOfSession.CaseID,SessioDate=Model.SessionData.SessionDate, CircuitID =Model.MinutesOfSession.CircuitID}))", SubmitObjectAfter)
            .done(function (data) {
                $("#Indexdiv").html(data);
                });
        };

    };
</script>
