@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">تم تعطيل المستخدم.</h1>
    <h2 class="text-danger">تم تعطيل هذا الحساب بسبب إدخال كلمة مرور خاطئة أكثر من 5 مرات. يرجى التواصل مع مسؤول النظام.</h2>
</hgroup>
