@using JIC.Crime.View.Models
@model OpenRollCreateViewModel

@{
    ViewBag.Title = JIC.Base.Resources.Resources.OpenRoll;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@JIC.Base.Resources.Resources.OpenRoll</h2>

@Html.AntiForgeryToken()
@Html.CDropDownFor(m => m.OPenRoll.CircuitID, new SelectList(Model.Circuits, "ID", "Name"), new { onchange = "ddlCircuit_SelectedIndexChanged()" }, true)

 
@using (Html.CUpdatePanel(Url.Action("CircuitMember","Roll"), "CircuitMemberDiv"))
{

}
@using (Html.CUpdatePanel(Url.Action("Create"), "RollOrderDiv"))
{

}

@using (Html.CUpdatePanel(Url.Action("OPenRoll"), "OPenRollDiv"))
{

}


@section Scripts {
<script type="text/javascript">


        function ddlCircuit_SelectedIndexChanged() {
            $("#CircuitMemberDiv").trigger('update', {CircuitID: $("#@Html.IdFor(m => m.OPenRoll.CircuitID)").val()});
            $("#RollOrderDiv").trigger('update', {CircuitID: $("#@Html.IdFor(m => m.OPenRoll.CircuitID)").val()});

        };
        OnDocReady(function () {
            $(document).on('Roll:Open', function () {
                $("#CircuitMemberDiv").trigger('update', {CircuitID: $("#@Html.IdFor(m => m.OPenRoll.CircuitID)").val()});
              // $("#OPenRollDiv").trigger('update', { CircuitID: $("#@Html.IdFor(m => m.OPenRoll.CircuitID)").val() });
                // $("#OPenRollDiv").trigger('update');

              //  $("#OPenRollDiv").show();
                //  $("#RollOrderDiv").hide();
               window.location.href = '../AllOpenRolls/Index';
            });
        });

</script>
}

