@helper ShowMessage(object Messages)
{
    if (Messages != null)
    {
        var MessageViewModel = (JIC.Base.Views.vw_MessageViewModel)Messages;
        var messageClass = "";
        switch (MessageViewModel.MessageTypes)
        {
            case JIC.Base.MessageTypes.Success:
                messageClass = "alert-success";
                break;
            case JIC.Base.MessageTypes.Error:
                messageClass = "alert-danger";
                break;
            case JIC.Base.MessageTypes.Warning:
                messageClass = "alert-info";
                break;
            case JIC.Base.MessageTypes.Information:
                messageClass = "alert-warning";
                break;
        }
        <div class="alert @messageClass">
            <p>

                @MessageViewModel.Message
            </p>
        </div>
    }
}