@using JIC.Crime.View.Models
@using JIC.Base.Resources
@model  IEnumerable<CaseWitnessesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(Html
                                .Grid(Model)
                                .Build(columns =>
                                {
                                    columns.Add(model => model.WitnessName).Titled(JIC.Base.Resources.Resources.WitnessName);
                                    columns.Add(model => model.NationalID).Titled(JIC.Base.Resources.Resources.NationalId);

                                    columns.Add(model => model.WitnessDocument).Titled(JIC.Base.Resources.Resources.WitnessDocument);

                                    columns.Add(model =>
                                    //@Html.ActionLink(" ", "Edit", new { ProsecutorID = model.ID }, new { @class = "fa fa-pencil-square-o  fa-lg modal-link", data_toggle = "modal", data_target = "#EditModel" }).ToHtmlString()
                                    @"<a href=""#"" class=""fa fa-pencil-square-o  fa-lg modal-link"" data-toggle=""modal"" data-target=""#ViewDataFileModel"" title=""" + Resources.WitnessDataFile + @""" data-url=""" + Url.Action("ViewDataFile", new { id = model.ID }) + @"""></button></a>" + " | " +

                                    @"<a href=""#"" class=""fa fa-pencil-square-o  fa-lg modal-link"" data-toggle=""modal"" data-target=""#EditModel"" title=""" + Resources.WitnessEdit + @""" data-url=""" + Url.Action("Edit", new { id = model.ID }) + @"""></button></a>" + " | " +
                                      //@Html.ActionLink(JIC.Base.Resources.Resources.Delete, "Delete", new { ProsecutorID = model.ID }, new { @class = "fa fa-trash-o", data_toggle = "modal", data_target = "#DeleteModel" }).ToHtmlString()
                                      @"<a href=""#"" class=""fa fa-trash-o modal-link"" data-toggle=""modal"" data-target=""#DeleteModel"" title=""" + Resources.WitnessDelete + @""" data-url=""" + Url.Action("Delete", new { id = model.ID }) + @"""></button>"

                                     //"<button type="button" class="fa fa-trash-o" data-toggle="modal" data-target="#DeleteModel" ></button>"
                                     ).Titled(JIC.Base.Resources.Resources.operation).Encoded(false);


                                })
                                .Filterable()
                                .Sortable()
                                .Pageable()


)
@using (Html.BeginModel("EditModel", JIC.Base.Resources.Resources.WitnessEdit))
{

}

@using (Html.BeginModel("DeleteModel", JIC.Base.Resources.Resources.WitnessDelete))
{

}

@using (Html.BeginModel("ViewDataFileModel", JIC.Base.Resources.Resources.WitnessDataFile))
{

}
@section scripts{
    <script>
        $(".modal-link").on('click', function () {
            var modelId = $(this).data('target');
            $(modelId).find('.modal-body').load($(this).data('url'));
        });
    </script>

}
